header {
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
    left: 0;
    padding: 0 10%;
    position: fixed;
    top: 0;
    width: 100%;
}

header img.header-logo {
    float: left;
    margin-right: 20px;
    width: 64px;
}

header nav.header-navigation ul.header-navigation-container {

}