#home-page {
    height: 100%;


}

#home-page article {
    height: 100%;

}

#home-page article section:first-child {
    align-items: center;
    color: white;
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    font-size: 40px;
    height: 100%;
    justify-content: center;
}

#home-page article section:first-child div {
    text-align: center;
    width: 100%;
}

#home-page article section:first-child img {
    -webkit-animation: bounce 1s 0s alternate infinite;
    -o-animation: bounce 1s 0s alternate infinite;
    animation: bounce 1s 0s alternate infinite;
    cursor: pointer;
    left: 50%;
    position: fixed;
    top: 90%;
    transform: translate(-50%, -50%);
    width: 32px;
    z-index: 0;
}

/*#home-page article section:nth-child(2) {*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*height: 200%;*/
/*}*/

#home-page article section:nth-child(2) {
    overflow: hidden;
    padding: 50px 20%;
}

#home-page article section:nth-child(2) img {
    max-width: 50%;
    filter: grayscale(0%);
    float: right;
    margin-left: 40px;
}

#home-page article section:nth-child(2) h3 {
    font-family: sans-serif;
    font-size: 30px;
}

#home-page article section:nth-child(2) p {
    color: gray;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 2em;
}

#home-page article section:nth-child(2) button {
    background-color: yellow;
    border: none;
    padding: 20px;
    width: 50%;
}

#home-page article section:nth-child(3) {
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    font-family: sans-serif;
    font-size: 20px;
    padding: 50px 20%;
    overflow: hidden;
}

#home-page article section:nth-child(3) img {
    float: right;
    width: 300px;
}

#home-page article section:nth-child(3) h3 {
    font-size: 30px;
    margin: 10px 0;
}

#home-page article section:nth-child(3) p {
    font-size: 20px;
    line-height: 2em;
}

#home-page article section:nth-child(4) {
    background-color: white;
    font-family: sans-serif;
    padding: 50px 20%;
}

@keyframes bounce {
    from {
        margin-top: 0;
    }
    to {
        margin-top: 20px;
    }
}
