#order-page {
    background: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
    padding: 20px 30% 50px;
    width: auto;
    margin: auto;
    margin-top: 170px;
}
#order-page form {
    width: 100%;
}

#order-page form input, #order-page form select, #order-page form .style-as-input {
    border: solid lightgray thin;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 10px 10px 0 0;
    padding: 10px;
    width: 100%;
}

#order-page form label {
    display: inline-block;
    font-family: sans-serif;
    margin: 10px 10px 0;
}

#order-page form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

#order-page form input[type=submit] {
    background-color: yellow;
    border: none;
    height: 50px;
}
