#home {
    align-items: flex-start;
    display: flex;
    height: 100%;
}

body {
    background-color: white;
    font-family: sans-serif;
    height: 100%;
    margin: 0;
}

html {
    height: 100%;
}


#home #previewside {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: lightslategray;
    float: left;
    padding-left: 10%;
    padding-top: 190px;
    padding-right: 100px;
    width: 50%;
}

#home #sidebar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #FFFFFF;
    color: lightslategray;
    float: right;
    height: calc(100% - 110px);
    margin-top: 110px;
    padding: 80px 40px 40px;
    width: 100%;
}

#home #sidebar input {
    background-color: lightgray;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    height: 40px;
    margin: 3px;
    opacity: 0.5;
    padding: 14px;
    vertical-align: middle;
    width: 50%;
}

#home #sidebar label input {
    margin-right: 0;
    padding: 10px;
    width: 50%;
}

#home #sidebar button {
    background-color: lightgray;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
   
    vertical-align: middle;
    margin: 3px;
    
    opacity: 0.5;
    width: 15%;
}

#home #order input{
	margin-top: 20px;
}

#home #previewside #image-preview {
	
    border: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
   
    vertical-align: middle;
    margin: 3px;
    
    
    width: 100%;
}

#home p #flickaroo {
    -webkit-animation: fade-in-out 2s infinite 1s;
    -o-animation: fade-in-out 2s infinite 1s;
    animation: fade-in-out 2s infinite 1s;
}

@keyframes fade-in-out {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

::-webkit-scrollbar {
    width: 10px;
}