* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: black;
}

/* Just for convenience, it makes design infinitely easier */
body {
    height: 100%;
    margin: 0;
}

header {
    border-bottom: #000000 thin solid;
}

html {
    height: 100%;
}

nav {
    display: inline-block;
}

.nav-option {
    display: inline-block;
    font-size: 30px;
    height: 100%;
    padding: 10px;
    text-decoration: none;
    -webkit-transition: border-bottom 0.1s;
    -moz-transition: border-bottom 0.1s;
    -ms-transition: border-bottom 0.1s;
    -o-transition: border-bottom 0.1s;
    transition: border-bottom 0.1s;
}

.nav-option:hover {
    border-bottom: black thick solid;
}