body {
    height: 100%;
    margin: 0;
}

#content-container {
    height: 100%;
    margin-top: 70px;
    padding: 30px;
}

header {
    background-color: white;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    height: 50px;
    left: 0;
    overflow: hidden;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
}

html {
    height: 100%;
}

#icon {
    float: left;
    height: 50px;
}

#logo_link {
    color: black;
    display: inline-block;
    font-family: 'Slabo 27px', serif;
    font-size: 30px;
    margin-left: 10px;
    padding: 10px;
    text-decoration: none;
}

nav, .nav_option {
    display: inline-block;
    margin: 0;
}

.nav_option {
    border-bottom: transparent thick solid;
    font-family: 'Slabo 27px', serif;
    font-size: 25px;
    padding: 10px;
    -webkit-transition: border-bottom 0.3s;
    -moz-transition: border-bottom 0.3s;
    -ms-transition: border-bottom 0.3s;
    -o-transition: border-bottom 0.3s;
    transition: border-bottom 0.3s;
}

.nav_option:hover {
    border-bottom: black thick solid;
    cursor: pointer;
}
